<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NHChainableOperations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TypedChainingOperations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>376C14631D92629B008D13B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>376C146B1D92629B008D13B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3771C3E81D32550D009CB0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3771C3FC1D32550E009CB0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
